.transition  {
  background-color: #562457; 
  text-align: center;
  vertical-align: middle;
  color: white;
}
.transition > .remark-slide-number {
  display: none;
}
.transition > .footnote {
  background-color: transparent!important;
}

.transition > h1 { font-size: 70pt!important; }
.transition > h1 code { font-size: 70pt!important; }
